language: python
dist: xenial
sudo: required
cache:
- apt
addons:
  apt:
    packages:
    - nginx
    - curl
    - wget
    - ruby
    - ruby-dev
install:
- sudo gem install inspec
- sudo curl -sL -o /tmp/terraform.zip https://releases.hashicorp.com/terraform/0.11.7/terraform_0.11.7_linux_amd64.zip
- sudo unzip -d /usr/local/bin /tmp/terraform.zip
- sudo gem install bundler
- bundle install
script:
- kitchen converge
- kitchen verify
- kitchen destroy
env:
  global:
    secure: cLx2sMDQbL90YYFb5CaavUNXJfsLMIT3u3ncnaU9Vhx8ab7QoLd9tebTUl3LMEt0dfsEoJHoUB5QIRdWYn5yiEDsGlO1/7YycyjLoje4YRrIoJsCIJIvCxpTGidGGlUxUblqh43/W4FYazcOtgz7y8mM/FRDZzH/5gyWis4MIEtSTUWAQDVyzeq4QPzsEJqhr06srX+CV8tun8/L6LIigLR/YfzlCf5zOCsoMk3dddZaCKNx+pfl528SRaK49D+1U9KiuUSLiK8IVSFJUTEMw4awouq5ocONqu7c9MyeqWRajAt/EzMAEX9oCUBGS3BsOdoqgWcylWo88Hb3LTJrQ5xW2E1WoTgpvgDtAduEhoyRINj55TFabwD92DkYrOiqwCaB8Z/U7vLbbMEh5vznkEDh6da61AfO4CjiOaPDtuQ14MBNoflvNnk+pb63QuqqJB7M2zWfK+ZViMQi8c1uhH7/uzyear9a5DSEECtspjoqS5xeCi++HJ3gxKo1N+lKlax9x/Q9CBc7JOIgjjQU1hlCHp2jM5FHjGKnhce6iGj54BGNIdPFBS5v2T5Uh1+Rz4JpFZ3Mfvrb+VKDPg+5Qr0gBVRHnJQ/yEpMVjOG5zUVk5nEOn6FYcy00jQnFX6/q7C9N7T996F8OTRikNb+Bk5HFNa6friEMOGRhf7Pn2I=
